
/*
Theme Name: Plancton Theme
Description: Child theme for Uncode theme
Author: TONTON
Author URI: http://www.tonton.ca
Template: uncode
Version: 1.2
Text Domain: uncode
*/


@color_blue: #16b0e9;

html, body{background-color: black;}


h1{
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.35;
} 
.style-dark h1{color:@color_blue;}
h2{
    font-family: Poppins;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.35;
} 
h3{
    font-family: Poppins;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.35;
} 
h4{
    font-family: Poppins;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.35;
} 
.style-dark h4{
    font-family: Poppins;
    font-weight: 100;
    color:#16b0e9;
}
p{
    font-size: 21px;
    line-height: 1.35;
}
li{
    font-size: 18px;
    line-height: 28px;
}
.small p{
    font-size: 14px;
    line-height: 18px;
}

.border-303030{
    border:1px solid #303030;
}
.border-303030-top{
    border-top:1px solid #303030;
}
.border-303030-right{
    border-right:1px solid #303030;
}
.border-303030-bottom{
    border-bottom:1px solid #303030;
}
.border-303030-left{
    border-left:1px solid #303030;
}
.border-inside-303030{
    .single-wrapper{border:1px solid #303030;}
}

/* MENU PRINCIPAL */
.menu-dark .menu-smart a:hover{
    color:@color_blue;
    transition: color .3s;
}

@media only screen and (min-width: 960px) and (max-width: 1280px){
    .logo-container .logo-image{
        height:18px!important;
    }
}


/* BUTTONS */
.btn-accent.btn-outline{
    border-color: #303030!important;
    transition: all .5s;
    &:hover{
        transition: all .3s;
    }
}

/* STYLE LIENS CONTENU */
.main-wrapper .post-content .details-episode p a,  
.single-post .main-wrapper .post-content ul li a,
.single-post .main-wrapper .post-content p a{
    color:#C9DFE7;
    .border-303030-bottom;
     transition: all .3s;
     opacity: 0.8;

    &:hover{
        opacity: 1;
        transition: all .3s;
        color:@color_blue;
        border-bottom:1px solid rgba(22, 176, 233, 0.5);
    }
}

/* AJOUT BORDURE */
.tmb-light.tmb-border, 
.tmb-light.tmb-bordered:not(.tmb-no-bg):not(.tmb-media-shadowed).tmb > .t-inside, 
.tmb-light.tmb-bordered.tmb-no-bg.tmb-media-first.tmb > .t-inside .t-entry-visual,
.tmb-dark.tmb-border, 
.tmb-dark.tmb-bordered:not(.tmb-no-bg):not(.tmb-media-shadowed).tmb > .t-inside, 
.tmb-dark.tmb-bordered.tmb-no-bg.tmb-media-first.tmb > .t-inside .t-entry-visual{
    .border-303030;
}







/* Background video 100% */
video.background-video-shortcode{
    height:100vh;
    width:100vw;
    background-color: black;
    object-fit: cover;
}


/* Colonne bug padding */
.col-lg-6.no-padding{
    padding:0;
}




/*******************************/
/*                             */
/*            ACCUEIL          */
/*                             */
/*******************************/

.apropos-titre{
    width: 80%;
    display: inline-block;
}
.fb_iframe_widget{
    width:20%;
    margin-top: 27px;
}



.tmb-dark.tmb .t-entry-visual *{
    color:white;
    font-size: 40px;
}
.padding-5{padding:10%!important;}
.padding-5-L{padding-left:10%!important;padding-right:10%!important;}

.padding-10{padding:10%!important;}
.padding-10-L{padding-left:10%!important;padding-right:10%!important;}

@media (min-width: 960px){
    .padding-5{padding:5%!important;}
    .padding-5-L{padding-left:5%!important;padding-right:5%!important;}
    .padding-5-top{padding-top:5%!important;}

    .padding-10{padding:10%!important;}
    .padding-10-L{padding-left:10%!important;padding-right:10%!important;}
}



/*******************************/
/*                             */
/*        UNE ACTUALITÉ        */
/*                             */
/*******************************/

@media (min-width: 960px){
    body.single-post .header-wrapper .header-content-inner{padding-left:5%!important;}
    body.single-post .page-body .post-wrapper{.border-303030-top;}
    body.single-post .page-body .post-content .row-parent{padding:0;}
    body.single-post .post-media{
        width: 50%;
        display: inline-block;
        padding:5% 2.5% 5% 5%;
        margin:0;
        vertical-align: top;
    }
    body.single-post .content-wrapper{
        width: 50%;
        display: inline-block;
        padding:5% 5% 5% 2.5%;
        margin:0;
        vertical-align: top;
    }
}


body.single-post .post-share{
    padding: 0;
    border: none;
}
body.single-post .post-footer .row-parent{
    padding-top:5%;
    padding-bottom:5%;
}
body.single-post .site-footer .row-container:first-child{display:none;}


div[class*=sharer-].share-button,
.portfolio-wrapper div[class*=sharer-].share-button{
    margin-top: 10px;
    .social ul li{
        font-size: 25px;
        width: 50px;
        line-height: 35px;
    }
}





/*******************************/
/*                             */
/*         PAGE CONTACT        */
/*                             */
/*******************************/


.style-dark input,
.style-dark textarea{
    background-color: transparent;
    width: 100%;
}
.style-dark input[type="submit"]{
    background-color: #16b0e9;
    border-color:#16b0e9;
}



/*******************************/
/*                             */
/*   RESULTATS DE RECHERCHE    */
/*                             */
/*******************************/

body.search-results .main-container .post-content .row-container {
    article{
        background-color:rgba(22, 176, 233, 0.1);
        padding:10px;
        .entry-title{margin-top:0;}
        .entry-summary{margin-top:0;}
    }
    
}

@media (min-width: 960px){
    body.search-results .header-wrapper .header-content-inner{
        padding-left:0!important;
    }
    body.search-results .main-container .header-basic.limit-width{
        max-width: 1000px;
    }
    body.search-results .main-container .post-content .row-container {
        max-width: 1000px;
        margin: auto;   
    }
}






/*******************************/
/*                             */
/*    LISTE DES EPISODES       */
/*                             */
/*******************************/




.liste-episodes{
    .isotope-filters .menu-horizontal{
        border-bottom: 1px solid #303030;
        padding-left: 5%;
        padding-right: 5%;
        ul.menu-smart > li > span{
            padding: 7px 9px 36px 9px;
        }
        ul.menu-smart > li:first-child > span{
            padding: 0px 9px 36px 0px;
        }
        @media (min-width: 960px){
            ul.menu-smart.text-uppercase > li.float-left > span > a{
                font-weight: 200!important;
                font-size: 30px;
                &:not(.active){color:rgba(255, 255, 255, 0.5);} 
            }
        }
        @media (max-width: 1100px){
            padding-bottom: 16px;


            ul.menu-smart > li > span{
                padding: 7px 9px 18px 9px;
            }
            ul.menu-smart > li:first-child > span{
                padding: 9px 9px 36px 0px;
            }
        }
        
        ul.menu-smart li.float-left {
            float: left;
        }
        
    }
    .isotope-wrapper.half-gutter, 
    .index-system.half-gutter .index-wrapper{
        padding: 5%;
    }

}
.tmb .t-entry-text-tc{
    padding-top:0;
}
.tmb .t-entry{
    .t-entry-title{
        margin-bottom:10px!important;
    }
    p.t-entry-meta {
        line-height: 0.8em;
        span{font-size:10px;}
        .t-entry-category{
            margin-left: 5px;
            line-height: 1em;
            text-transform: uppercase;
            font-family: Poppins;
            a{line-height: 0.5em;}
            .cat-comma{display:none;}
            &:after{content:", ";margin-left: 1px;}
            &:last-child:after{content:"";}
        }
    }
}




/*******************************/
/*                             */
/*         UN EPISODE          */
/*                             */
/*******************************/


/* UN EPISODE - NAVIGATION ENTRE LES EPISODES */
.row-navigation ul.navigation{
	padding:0;
}

.row-navigation .row-parent{
    padding: 18px 0px 18px 0px;
}

.navigation .nav-back{
    width: 80%;
}
.single-post .navigation .nav-back{
    width: 30%;
}
.pagination .page-next .btn span, 
.navigation .page-next .btn span{
    line-height: 1.1em;
}

.row-parent.no-h-padding .isotope-filters > .menu-horizontal > .menu-smart{
    padding: 0;
}
.no-vectical-padding .triple-block-padding{
    padding-top: 0;
    padding-bottom: 0;
}


/* UN EPISODE - TITRE + DESC */
.main-container .row-container {

	.title-episode{
	    margin-top: 10px!important;
	    padding-left:10%;
	    padding-right:10%;
	    text-align:left;
	    p{    margin-top: 0;}
	    h1{
	        font-weight: 100;
	        font-size: 30px;
	    }
	}
	.intro-episode{
	    margin-top: 10px!important;
	    margin-bottom: 10%;
	    padding-left:10%;
	    padding-right:10%;  
	    text-align:left;
	    h4{
	        font-size:16px;
	        @media (min-width: 960px){font-size:14px;}
	        @media (min-width: 1280px){font-size:16px;}
	        @media (min-width: 1440px){font-size:18px;}
	        @media (min-width: 1600px){font-size:20px;}
	    }

	} 


	.row-navigation.row-navigation-dark{	    
		background-color: transparent;
	    outline-color: transparent;
	    border-top: 1px solid #303030;
	    border-bottom: 1px solid #303030;
	}

	.teaser-episode{
	    border-top:1px solid #303030;
	    .row-navigation.row-navigation-dark{
			border-bottom: none;
		}
	}

	.details-episode{
	    border-left:1px solid #303030;
	}

	.desc-episode{
	    border-top:1px solid #303030;
	}
	.videos-reliees-episode{
	    border-top:1px solid #303030;
	}
}


/* UN EPISODE - Video transparent */
#video-episode{
    width: 150px;
    @media (min-width: 1280px){width: 150px;}
    @media (min-width: 1440px){width: 200px;}
    @media (min-width: 1600px){width: 300px;}
}
.video_trans_wrapper{
    width: 150px;
    margin-left: 6%;  
    text-align:center;
    @media (min-width: 1280px){width: 200px;}
    @media (min-width: 1440px){width: 250px;}
    @media (min-width: 1600px){width: 300px;}
    padding-top: 5%;
}

html #video-fallback-episode.video-on{display:none;}
html:not(.chrome){
    #video-episode{display:none;}
    #video-fallback-episode{display:block!important;height:auto!important;width:auto!important;}
}



/* UN EPISODE - ACCORDEONS - LISTE DES ORGANISMES */
.main-wrapper .post-content .oragnisms-episode{

	.uncode-accordion{
	    margin-top: -1px;
	    .panel {
	        border-top: 1px dashed #303030;
	        border-bottom: 1px dashed #303030;
	    }
	    .panel-group .panel-heading + .panel-collapse .panel-body{
	        border-top: 1px dashed #303030;
	    }

	}

	ul.organismes-list{
		list-style: none;
		li{
			overflow-y: hidden;
	    	margin: 18px 0;  
			display: table;

			img{
				width: 50px;
			    float: left;
			    margin-right: 10px;
			}
			span{
				display: block;
			}
			.org-title{
			    font-size: 14px;
			    font-weight: 700;
			    text-transform: uppercase;
			    letter-spacing: 0.8px;
			    font-family: Poppins;
			    line-height: 0.8em;
			}
			.org-sc-title{
			    font-size: 0.8em;
			    font-style: italic;
			}
			.org-wrapper{
			  display: table-cell;
			  vertical-align: middle;
			}
		}
	}

	.panel-title a{
	    text-decoration: none;
	}

	.row-parent .single-internal-gutter .uncont > .uncode-accordion{
	    margin-top: -1px;
	}
}




/* UN EPISODE - Videos reliées */
.style-dark .owl-nav-container{
    border: none!important;
    background: transparent!important;
}
.owl-prev i, .owl-next i{
    font-size: 35px;
}

.row.full-width .row-navigation .row-parent,
.full-width.row-navigation .row-parent{padding: 18px 5%;}

body.single-portfolio .main-container .row-container .double-bottom-padding{padding-bottom:0;}
body.single-portfolio .site-footer .row-container:first-child{display:none;}
body.single-portfolio .style-dark h1{color:white;}
body.single-portfolio .main-container .row-container .double-top-padding{
    padding-top: 0;
}






/*******************************/
/*                             */
/*      SLIDER/CAROUSSEL       */
/*                             */
/*******************************/

@media (min-width: 960px){
    .slider-fullwidth{
        .btn-container{margin-top:10px!important;}
        .owl-carousel-wrapper{
            overflow:visible;
            .owl-prev{
                margin-left: -35px !important;
                margin-top: -40px;
            }

            .owl-next{
                margin-right: -15px !important;
                margin-top: -40px;
            }
            .owl-prev.disabled, 
            .owl-next.disabled{
                display: block;
                color: rgba(255, 255, 255, 0.25);
            }
            .owl-prev i, .owl-next i{
                font-size: 50px;
            }
        }
    }
}








/*******************************/
/*                             */
/*       MENU PRINCIPAL        */
/*                             */
/*******************************/


@media (min-width: 960px){
    .top-menu{
        position: absolute;
        background-color:transparent;
        margin-top: 20px;
        width:100%;
        &.menu-dark .menu-smart li a{
            color:rgba(255, 255, 255, 0.5);
            font-family: poppins;
            font-weight: 600;
            font-size: 10px;
            text-transform: uppercase;
            &:hover{
                color:white;
                transition:color .3s;
            }
        }
        &.menu-dark .menu-smart li.menu-item-language-current a,{
            color:white;
        }
    }

    .menu-wrapper .row-menu .row-menu-inner {
        padding: 0px 5% 0px 5%;
    }

    .menu-wrapper header .row-menu .row-menu-inner{
        padding-top: 2em;
            padding-bottom: 0.5em;
    }

    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li.active > a, 
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li a.active, 
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li.current-menu-parent > a, 
    .style-dark-override:not(.is_stuck).menu-transparent .menu-horizontal-inner > .nav > .menu-smart > li.current-menu-ancestor > a,
    .menu-dark .menu-smart > li.active > a, 
    .menu-dark .menu-smart > li a.active, 
    .menu-dark .menu-smart > li.current-menu-ancestor > a {
        color: #16b0e9!important;
    }

    .menu-container{
        background-color: transparent;
    }
    li.menu-item-language{
        color: rgba(255, 255, 255, 0.75);
    }

    body .menu-wrapper{
        border-bottom: 1px solid #303030;
    }
}
@media (min-width: 1400px){
    .menu-primary ul.menu-smart > li > a{font-size: 18px;}
}





/* UN EPISODE - LIGHTBOX - SOCIAL SHARE */
.ilightbox-holder .ilightbox-container {
    .ilightbox-social{
        top:10px;
        right:10px;

        ul{
            height: 36px;
            li{
                &.reddit,
                &.digg,
                &.delicious {
                    display: none;
                }
                &.twitter a,
                &.googleplus a,
                &.facebook a {
                    background: none;
                    &:before{vertical-align: middle;}
                }
                &.googleplus a:before { 
                    content: "\f0d5";
                    vertical-align: middle;
                    font-size: 26px;
                }
                &.facebook a:before {
                    content: "\e661";
                    vertical-align: middle;
                }
                &.twitter a:before {
                    content: "\e660";
                    vertical-align: middle;
                }
                a{
                    background: none;
                    font-family: 'uncodeicon' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    color:white;
                    width:36px;
                    height: 36px;
                    font-size: 28px;
                }
            }
        }
    }
}


/* UN EPISODE - LIGHTBOX - NAVIGATION */
@media (min-width: 960px){
    .ilightbox-toolbar.black{
        height: 40px;
        a{
            color:white;
            font-family: 'uncodeicon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;       
            width:36px;
            height: 36px;
            font-size: 36px;
            position: absolute;
            right: 10px;
            &.ilightbox-close{
                background: none;
                margin-right: 20px;
                margin-top: 20px;
                &:before{content: "\e117";}
            }
            &.ilightbox-fullscreen{
                background: none;
                margin-right: 20px;
                margin-top: 27px;
                font-size: 20px;
                right: 120px;
                &:before{content: "\e112";}
            }
            &.ilightbox-play{
                background: none;
                margin-top: 27px;
                margin-right: 20px;
                right: 60px;
                font-size: 20px;
                &:before{content: "\f04b";}
            }
            &.ilightbox-pause{
                background: none;
                margin-top: 27px;
                margin-right: 20px;
                right: 60px;
                font-size: 20px;
                &:before{content: "\f04c";}
            }

            transition: color 0.5s;
            &:hover{
                color:@color_blue;
                transition: color 0.5s;
            }
        }
    }


    body.hide-scrollup .ilightbox-toolbar.black a.ilightbox-fullscreen:before{
        content: "\e113";
    }


    .ilightbox-button.black.horizontal{
		background-color: transparent;
		background-image:none;
        color:white;
        font-family: 'uncodeicon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;       
        width:36px;
        height: 36px;
        font-size: 36px;
        transition: color 0.5s;
        &:hover{
            color:@color_blue;
            transition: color 0.5s;
        }

        &.ilightbox-next-button{
	        margin-right: 20px;
            background-image:none;
	        &:before{ 
	            content: "\e0c3";
	        }
	    }


	    &.ilightbox-prev-button{
	        margin-left: 20px;
            background-image:none;
	        &:before{ 
	            content: "\e0c2";
	        }
	    } 
	}

}




/* UN EPISODE - LIGHTBOX - LEGENDE */
@media (min-width: 960px){

    .single-portfolio .ilightbox-holder{
        .ilightbox-inner-toolbar{
            margin-left: -250px;
            .ilightbox-title{
                text-align: right!important;
                font-size: 20px!important;
                font-family: Poppins;
                text-transform: uppercase;
                padding: 18px 12px!important;
                line-height: 1em;
             }
        }
        .ilightbox-container{
            .ilightbox-caption{
                width:210px;
                text-align: left!important;
                position: absolute;
                top: 0%;
                left: auto!important;
                padding: 0;
                margin:0px;
                box-sizing: border-box;
                margin-right: 5px;
                
                font-size: 16px;
                position: absolute;
                line-height: 1.2em;
                transition:all 0.5s;
            }
            .ilightbox-social{
                top:auto;
                right:60px;
                display: block!important;
                bottom: 10px;
            }
            img{
                margin-left: -250px!important;
                float: left!important;
            }
        }
    }

}
@media (min-width: 1280px){
	.single-portfolio .ilightbox-holder{
        .ilightbox-inner-toolbar{
            margin-left: -200px;
        }
        .ilightbox-container{
            .ilightbox-caption{
                width:200px;
                margin-right: -25px;
            }
            img{
                margin-left: -200px!important;
            }
        }
    }
}
